body {
    width: 350px;
    font-size: 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

a {
    color: purple;
    text-decoration: none;
}

.data__flag-input {
    width: 98%;
    padding: 2px;
    font-size: 15px;
}

.data__legend {
    margin-bottom: 10px;
}

.header {
    font-size: 22px;
    margin: 10px 0;
    text-align: center;
}

.data__flag {
    padding-bottom: 1;
}

td {
    padding: 3px;
  }

.text-center{
    text-align: center;
  }

/* Pretty things */
  h1 {
    font-family: "Menlo", monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
  }
  img {
    width: 50px;
  }

  .modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dadada;
  }

  .modal-content {
    padding: 0 22px;
  }

  .modal-icons {
    border-top: 0.5px solid #dadada;
    height: 50px;
    width: 100%;
  }

  .logo {
    padding: 5px;
  }

  .logo-icon {
    vertical-align: text-bottom;
    margin-right: 4px;
  }

  .version {
    color: #444;
    font-size: 12px;
  }
